* {
  box-sizing: border-box;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Do Hyeon", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(to right top, #12c2e9, #f64f59, #c471ed);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
